* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 20px 20px;
}
.Cerrado {
  background-color: red;
}
.pendiente-pago {
  background-color: rgb(133, 208, 133);
  color: #111;
}
.saldo-x-amortizar {
  background-color: rgb(244, 147, 147);
  color: #111;
}
.En-curso {
  background-color: cadetblue;
}
.fixed {
  position: sticky;
  left: 0;
  background: white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}